<!-- Start Contact Area -->
		<section class="contact-area" id="contact">
			<div class="container-fluid">
				<div class="row align-items-center d-flex justify-content-start">
					<div class="col-lg-12 col-md-12 contact-left no-padding">
						<div style=" width:100%;height: 545px;" id="map"></div>
					</div>
					<div style="display:none;" class="col-lg-4 col-md-12 pt-100 pb-100">
						<form class="form-area" id="myForm" action="mail.php" method="post" class="contact-form text-right">
							<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required="" type="text">
							<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-10" required="" type="email">
							<textarea class="common-textarea mt-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
							<button class="primary-btn mt-20">Send Message<span class="lnr lnr-arrow-right"></span></button>
							<div class="mt-10 alert-msg">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Area -->

		<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h4 class="text-white">About Us</h4>
							<p>
							
The secret of success in life is to eat what you like and let the food fight it out inside.
							</p>
						</div>
					</div>
					<div class="col-lg-4  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h4 class="text-white">Contact Us</h4>
							<p>
							Good Food makes 
							good mood</p>
							<p class="number">
								01874-240241 <br>
								9465302916
							</p>
						</div>
					</div>
					<div class="col-lg-5  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h4 class="text-white">Newsletter</h4>
							<p>You can trust us. we only send  offers, not a single spam.</p>
							<div class="d-flex flex-row" id="mc_embed_signup">


								  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									<div class="input-group add-on">
										<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
									  <div class="input-group-btn">
										<button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									  </div>
									</div>
									  <div class="info mt-20"></div>
								  </form>

							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		<p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->
<script>
      function initMap() {
        var uluru = {lat: 30.702, lng: 76.792};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

		<script src="http://localhost:3000/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="http://localhost:3000/js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA&callback=initMap"></script>
		<script src="http://localhost:3000/js/easing.min.js"></script>
		<script src="http://localhost:3000/js/hoverIntent.js"></script>
		<script src="http://localhost:3000/js/superfish.min.js"></script>
		<script src="http://localhost:3000/js/jquery.ajaxchimp.min.js"></script>
		<script src="http://localhost:3000/js/jquery.magnific-popup.min.js"></script>
		<script src="http://localhost:3000/js/owl.carousel.min.js"></script>
		<script src="http://localhost:3000/js/jquery.sticky.js"></script>
		<script src="http://localhost:3000/js/jquery.nice-select.min.js"></script>
		<script src="http://localhost:3000/js/parallax.min.js"></script>
		<script src="http://localhost:3000/js/mail-script.js"></script>
		<script src="http://localhost:3000/js/main.js"></script>
		<script src="http://localhost:3000/js/angular.js"></script>
	</body>
</html>
