<%if(pagedata.length>0){
	for(var i = 0; i,pagedata.length; i++){
	%>
	<p>Book name:<%=pagedata[i].book_name%></p>
	<p>Book price:<%=pagedata[i].book_price%></p>
	<p>Book author:<%=pagedata[i]book[0].author_name%></p>
	<%
	}
}
%>