<% include header.ejs %>
<style>
section#home {
    display: none;
}
</style>
<!-- Start Login Area -->
<section class="features-area pt-100" id="login">
	<div class="container">
		<div class="feature-section">
			<div class="">
				<div class="container">
					<h1> Edit Menu </h1>
					<hr>
					<form class="form-group" method="post" autocomplete="off" action="/updateFood">
						<div class="form-group">
							<label for="name"><b>Food Name</b></label>
							<input type="text" autocomplete="off" placeholder="Enter Food Name" value="<%=data[0].foodName%>" name="foodName" class="form-control" required>
							<input type="hidden" autocomplete="off" name="id" value="<%=data[0].id%>" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="type"><b>Food Type</b></label>
							<select name="foodType" class="form-control" required>
								<option <% if(data[0].foodType == 'Breskfast Menu'){ %>selected <% } %> value="Breskfast Menu">Breskfast Menu</option>
								<option <% if(data[0].foodType == 'Lunch Menu'){ %>selected <% } %> value="Lunch Menu">Lunch Menu</option>
								<option <% if(data[0].foodType == 'Supper Menu'){ %>selected <% } %> value="Supper Menu">Supper Menu</option>
								<option <% if(data[0].foodType == 'Dinner Menu'){ %>selected <% } %> value="Dinner Menu">Dinner Menu</option>
								<option <% if(data[0].foodType == 'Dessert Menu'){ %>selected <% } %> value="Dessert Menu">Dessert Menu</option>
								<option <% if(data[0].foodType == 'Drinks Menu'){ %>selected <% } %> value="Drinks Menu">Drinks Menu</option>
							</select>
						</div>
						<div class="form-group">
							<label for="fName"><b>Full Price</b></label>
							<input type="text" autocomplete="off" placeholder="Enter Full Price" value="<%=data[0].priceFull%>" class="form-control" name="priceFull" required>
						</div>
						<div class="form-group">
							<label for="lName"><b>Half Price</b></label>
							<input type="text" autocomplete="off" placeholder="Enter Half Price" value="<%=data[0].priceHalf%>" class="form-control" name="priceHalf">
						</div>
						<div class="clearfix">
							<button type="reset" id="myBtn" class="btn btn-warning">Cancel </button>
							<button type="submit" id="myBtn" class="btn btn-default">Update Menu </button>
						</div>
					</form>					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Login Area -->

<!-- End Contact Area -->
<% include footer.ejs %>