<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="http://localhost:3000/img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Restaurant</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="http://localhost:3000/css/linearicons.css">
	<link rel="stylesheet" href="http://localhost:3000/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
	<link rel="stylesheet" href="http://localhost:3000/css/magnific-popup.css">
	<link rel="stylesheet" href="http://localhost:3000/css/nice-select.css">					
	<link rel="stylesheet" href="http://localhost:3000/css/animate.min.css">
	<link rel="stylesheet" href="http://localhost:3000/css/owl.carousel.css">
	<link rel="stylesheet" href="http://localhost:3000/css/main.css">
</head>
<body>

	  <header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
			  <div id="logo">
				<a href="http://localhost:3000/index.html"><img src="http://localhost:3000/img/logo.png" alt="" title="" /></a>
			  </div>
			  <nav id="nav-menu-container">
				<ul class="nav-menu">
				  <li class="menu-active"><a href="http://localhost:3000/#home">Home</a></li>
				  <li><a href="http://localhost:3000/#dish">Dish</a></li>
				  <li><a href="http://localhost:3000/#chefs">Chefs</a></li>
				  <li><a href="http://localhost:3000/#blog">Blog</a></li>
				  <li><a href='http://localhost:3000/#contact'>Contact</a></li>
				  
					<li><a href="http://localhost:3000/signup">Signup</a></li>
					<li><a href="http://localhost:3000/login">Login</a></li>
					
				</ul>
			  </nav><!-- #nav-menu-container -->		    		
			</div>
		</div>
	  </header><!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-8 col-md-12">
					<h4 class="text-white text-uppercase">Wide Options of Choice</h4>
					<h1>
						Delicious Receipes					
					</h1>
					<p class="text-white">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
					</p>
					<a href="http://localhost:3000/checkMenu" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
				</div>												
			</div>
		</div>
	</section>
	<!-- End banner Area -->